body {
    background-color: rgb(116, 84, 146) !important;
font-family: "poppins";

   

img {
    max-width: 100%;
    height: auto;
}

}
header {
    text-align: center;
     padding-bottom: 20px;
    color: white;

    background-color: rgb(110, 74, 145);
    position: relative;
    justify-content: space-evenly;
}

.richmind {
    font-size: 50px;
    font-weight: 700;
}


    
h3 {
    text-align: center;
    color: white;
}
 .contact {
    max-width: 150px;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid white;
    color: white;
    background-color: whitesmoke;
    box-shadow: 0 4px 7px whitesmoke ;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Courier New', Courier, monospace;
   
}

a {
    text-decoration: none;
}

.container {
    background-color: rgb(112, 73, 148);
}

.container2 {
    background-color: black;
    max-width: 960px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding-bottom: 20px;
    opacity: 0; 
    margin: 100px auto;
   padding: 20px;
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
}





footer { 
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/images/richmind.jpg);   
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    line-height: 1.5;
    padding: 20px;
    font-size: 12px; 
}




.about-us {
    line-height: 1.5;

}
.box {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-gap: 15px;
    justify-content: center;
    padding: 20px;
}




    
    h2 stan {
        margin: 20px;
        background-color: blanchedalmond;
        color: black;
        padding: 10px;
        border-radius: 20px;

    }
    .logo {
        width: 50px;
        display: flex;
        position: relative;
        right: 640px;
        border-radius: 20px !important;
    }
  
  
  @media (max-width: 756px) {

    h1 {
        font-weight: 400;
    }
    footer {
        margin: 5px;
        font-size: 12px;   
        background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/images/richmind.jpg);   
        position: relative;
        justify-content: center;
        background-size: cover;
        background-repeat: no-repeat;
        color: white;
        line-height: 1.5;
        padding: 20px;
        
        
    }

    h2 {
        font-size: 14px;
    }
    
    .logo {
        width: 50px;
        display: flex;
        position: relative;
        right: 160px;
        border-radius: 20px !important;
    }
     img {
        max-width: 100%;
        height: auto;
    }
    
        
    }
    
    